---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.description | strip_html | truncatewords: 20 }}</p>
    {% if post.paper %}
    [<a href="{{post.paper}}">Paper</a>]&nbsp;&nbsp;
    {% else %}
    {% endif %}
    {% if post.code %}
    [<a href="{{post.code}}">Code</a>]&nbsp;&nbsp;
    {% else %}
    {% endif %}
    {% if post.dataset %}
    [<a href="{{post.dataset}}">Dataset</a>]&nbsp;&nbsp;
    {% else %}
    {% endif %}
  </div>
</article>
{% endfor %}

{% include pagination.html %}
