{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="pub-entry">
  <div class="pub-title">{{ title }}</div>

  {% if post.author %}
    <div class="pub-authors">{{ post.author }}</div>
  {% endif %}

  {% if post.conf %}
    <div class="pub-venue">{{ post.conf }}{% if post.conf_shortname %} ({{ post.conf_shortname }}){% endif %}, {{ post.year }}</div>
  {% endif %}

  {% if post.highlight %}
    <div class="pub-highlight">{{ post.highlight }}</div>
  {% endif %}

  {% if post.additional %}
    <div class="pub-links">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}"><i class="fas fa-file-alt"></i> Paper</a>
      {% endif %}
      {% if post.codeurl %}
        <a href="{{ post.codeurl }}"><i class="fab fa-github"></i> Code</a>
      {% endif %}
      {% if post.projecturl %}
        <a href="{{ post.projecturl }}"><i class="fas fa-globe"></i> Project</a>
      {% endif %}
      {% if post.posterlink %}
        <a href="{{ post.posterlink }}"><i class="fas fa-image"></i> Poster</a>
      {% endif %}
      {% if post.dataseturl %}
        <a href="{{ post.dataseturl }}"><i class="fas fa-database"></i> Dataset</a>
      {% endif %}
    </div>
  {% endif %}
</div>
